{% extends 'base.html' %}

{% block header %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/xdrive/static/css/app.css">

<script src="/xdrive/static/js/app.js" defer></script>
{% endblock %}

{% block body %}
<main>
	<section class="left-panel">
		<h1>XDrive</h1>
		<p><a href="{{ url_for('auth.logout') }}">{{ current_user.name }}</a></p>
	</section>

	<section class="file-explorer">
		<input type="text" name="locationbar">
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th></th>
						<th><div>Name</div></th>
						<th><div>Type</div></th>
						<th><div>Size</div></th>
						<th><div>Date Modified</div></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
			
	</section>
</main>
{% endblock %}