main{
	width: 100%;
	height: 100vh;
	max-width: 100%;
	max-height: 100vh;

	display: flex;
	flex-direction: row;

	overflow-x: auto;
}
h1{
	margin-top: 0;
	text-decoration: underline;
	text-align: center;
	font-size: 3rem;
}
p{
	color: #efefef;
	text-decoration: underline;
	text-align: center;
}

.left-panel{
	width: 273px;
	border-radius: 9px;
	padding: 24px;
	padding-top: 35px;
	margin-right: 28px;
	position: relative;
}
.file-explorer{
	width: 100%;
	height: calc(100% - 32px);
	max-height: calc(100% - 32px);

	overflow-y: auto;
	margin-top: 32px;
	padding: 18px;
	border-top-left-radius: 16px;
	background-color: #30374082;

	display: flex;
	flex-direction: column;
}

ul{
	width: 100%;
	padding-top: 0.5em;
	padding-left: 1.5rem;
	color: #efefef;
}
li{
	margin-bottom: 0.3em;
}

.notfi{
	width: 100%;
	max-height: 15em;

	position: absolute;
	bottom: 1em;
	padding-right: 0.5rem;
	color: #efefef;
	overflow-y: auto;
}
.notfi-item{
	width: 100%;
	min-height: 3em;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #262C32;
}
.notfi-item-del{
	height: 100%;
	width: 2rem;
	border: none;
	cursor: pointer;
	background-color: transparent;
	color: #efefef;
}
.notfi-item-span{
	width: 100%;
	margin-bottom: 0.2em;
	margin-left: 0.5rem;
}

@media only screen and (max-width: 1280px) {
  .left-panel{
  	width: 210px;
  }
}

input[name='locationbar']{
	width: 100%;
	height: 35px;
	padding: 12px;
	border-radius: 8px;
	font-size: 16px;
	background-color: #192837;
	color: #efefef;
	outline: none;
	border: none;
	margin-bottom: 15px;
}

.table-responsive{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	margin-top: 16px;
	overflow: auto;
}
table{
	width: 100%;
	background-color: transparent;
	color: #7B8895;
}
thead{
	font-size: 17px;
}
tbody{
	max-height: 100%;
}
td > div, th > div{
	display: flex;
	align-items: center;
	padding-left: 4px;

	min-width: 8rem;
	max-width: 15rem;

	text-align: left;
	overflow: hidden;
	white-space: break-spaces;
	word-break: break-word;
}
tr > td:first-child, tr > th:first-child{
	min-width: 2rem;
	max-width: 2rem;
	width: 2rem;
}
tr > td:first-child > div, th:first-child > div{
	/* For checkbox selecting */
	min-width: 2rem;
	max-width: 2rem;
	width: 2rem;
	display: flex;
	flex-direction: row-reverse;
}
td > div > div, th > div > div{
	padding-left: 4px;
	overflow: hidden;
	white-space: break-spaces;
	word-break: break-word;
}

tbody > tr:is(:hover){
	cursor: pointer;
	background-color: #2C3339;
}

.upload{
	width: 100%;
	height: 3em;
	min-height: 3em;
	margin-top: auto;

	border-radius: 8px;
	border: #efefef 1px dotted;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;

	font-size: 22px;
	color: #efefef8c;
}
.upload > *{
	cursor: pointer;
}
.upload > label{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.upload > button{
	width: 5rem;
	height: 2em;
	border: none;
	border-radius: 8px;

	position: absolute;
	right: 1rem;
	
	background-color: #7d78a28c;
}
.hidden{
	display: none;
}


.context-menu{
	width: 8rem;
	min-height: 3em;
	max-height: 15em;
	overflow-y: auto;

	background-color: #515D68;
	position: absolute;
	border-radius: 8px;
}
.context-menu-item{
	width: 100%;
	min-height: 3em;
	border: none;

	background-color: #515D68;
	transition: 0.2s;
}
.context-menu-item:is(:hover, :active, :focus){
	background-color: #434E57;
}